@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.col {
  background: rgb(23, 23, 23, 0.5);
}

.weather {
  display: none;
}
